/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  text-decoration: none;
  color: #5cb874;
}

a:hover {
  color: #80c792;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}
  p{
    text-justify: inter-word;
  }
  /*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #354f52;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
  }
  
  .back-to-top .bi {
  font-size: 24px;
  color: #e8efcd;
  line-height: 0;
  }
  
  .back-to-top:hover {
  background: #e8efcd;
  color: #354f52;
  }
  
  .back-to-top .bi:hover{
  color: #354f35;
  }
  
  /*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
  #topbar {
    background: #fbfbfb;
    font-size: 15px;
    height: 40px;
    padding: 0;
  }
  #topbar .contact-info a {
    line-height: 0;
    color: #444444;
    transition: 0.3s;
  }
  #topbar .contact-info a:hover {
    color: #5cb874;
  }
  #topbar .contact-info i {
    color: #5cb874;
    line-height: 0;
    margin-right: 5px;
  }
  #topbar .contact-info .phone-icon {
    margin-left: 15px;
  }
  #topbar .social-links a {
    color: #6f6f6f;
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
  }
  #topbar .social-links a:hover {
    color: #5cb874;
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    background: #fff;
    transition: all 0.5s;
  }
  #header.header-scrolled {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  #header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #5cb874;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar-nav .nav-item .nav-link:hover {
    color: #5cb874;
  }

  .navbar-nav .nav-item .active {
    color: #5cb874 !important;
  }

  .navbar-nav .nav-item .getstarted, .navbar-nav .nav-item .getstarted:focus {
    color: #5cb874;
    padding: 8px 25px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 4px;
    border: 2px solid #5cb874;
    transition: 0.3s;
    font-size: 14px;
  }
  .navbar-nav .nav-item .getstarted:hover, .navbar-nav .nav-item .getstarted:focus:hover {
    background: #5cb874;
    color: #fff;
  }
  
   /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
  }
  
  .section-bg {
    background-color: #f8fcf9;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #5cb874;
    bottom: 0;
    left: calc(50% - 20px);
  }
  .section-title p {
    margin-bottom: 0;
    font-size: 14px;
    color: #919191;
  }

  /* Video background */
.video-bg {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.5;
    z-index: 1;
  }
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
  }

  /* Container holding the image and the text */
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 0px; /* Added */
    width: 75%;
    height: auto;
    text-align: justify;
}

.overlay-div{
height:100%;
width: 100%;
position:absolute;
background-color:#b5dcff;
opacity:.5;
}

.card:hover .overlay-div{
  color: #000;
  opacity: .8;
}

.card-title{
  font-weight: bold;
}

.card-text{
  font-weight: 10px;
  text-shadow: #000;
  color: #1113b8;
}

.btn-noise{
  background-color: #1113b8;
  border-color: #1113b8;
  border-radius: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  color: white;
}

.btn-noise:hover{
  background-color: #697739;
  border-color: #697739;
}

.btn-noise:active{
  background-color: #1113b8;
  border-color: #1113b8;
}

.btn-noise:focus{
  outline: none;
  box-shadow: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-top-width: .25rem;
  border-radius: .25rem;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  }

.color{
  color: #697739;
  color: #b4c195;
  color: #ffffb5;
  color: #1113b8;
}

.full-screen{
  height: 100vh;
}

.parent {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    background: #090909;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
  }
  #footer h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
  }
  #footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
  }
  #footer .social-links {
    margin: 0 0 40px 0;
  }
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #5cb874;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .social-links a:hover {
    background: #449d5b;
    color: #fff;
    text-decoration: none;
  }
  #footer .copyright {
    margin: 0 0 5px 0;
  }
  #footer .credits {
    font-size: 13px;
  }